* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background: #eee;
    font: 14px/1.5 Lato, sans-serif;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card { 
    padding: 2em;
    max-width: 400px;
    background-color: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
}