@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Kode Mono", sans-serif;
}

body, input, button, textarea {
    font: inherit;
}

body {
    padding: 2em;
    background-color: #c1bdba;
}

form {
    max-width: 750px;
    margin: 0 auto;
    background-color: #24333c;
    color: white;
    padding: 4rem;
    border-radius: 0.4em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.5);
    font-size: 1.6em;
}

.nav {
    display: flex;
    margin-bottom: 2em;
}

.nav li {
    display: block;
    list-style: none outside;
    flex: 1 1 auto;
    
}

.nav a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1em 2em;
    text-align: center;
    background-color: #435359;
}

.nav a:hover {
    background-color: #179a77;
}

.nav li.current a {
    background-color: #1ab188;
}

form h2 {
    text-align: center;
    font-weight: normal;
    padding-bottom: 2rem;
    font-size: 1.8em;
}

.flex {
    display: flex;
    gap:1em;
}

.flex .field {
    flex: 1 1 auto;
}

.field {
    position: relative;
    padding-bottom: 2em;
}

.field input{
    display: block;
    width: 100%;
    border: 1px solid #a0b3b0;
    background: transparent;
    padding: 0.3em 0.5em;
    line-height: 1;
    outline: none;
}

.field label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 0.5em;
    color: #8B999E;
}

.field input:required ~ label::after {
    display: inline-block;
    content: '*';
    color:#1ab188;
    padding-left: 0.2em;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    background-color: #1ab188;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 1.5em;
    padding: 1rem 2rem;
}