
.flex-container {
    width: 400px;
    height: 200px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;

}

.flex-container.align-self-flex-start .flex-item:nth-child(2) {
    align-self: flex-start
}

.flex-container.align-self-center .flex-item:nth-child(2) {
    align-self: center
}

.flex-container.align-self-flex-end .flex-item:nth-child(2) {
    align-self: flex-end
}

.flex-container.align-self-baseline .flex-item:nth-child(2) {
    align-self: baseline
}