h1 {
  color: green;  
}

p {
    font-size: 14px;
}

.highlight {
    color: orange
}

#main-title {
    color: purple;
}

#special-paragraph {
    font-style: italic;
}

ul {
    background: #eee;
}

li {
    list-style-type: circle;
    color: red;
}

div { 
    background: lightblue;
}