* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font: 14px/1.5 Lato, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.site {
    background: white;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}

.site > * {
    border: 1px solid lightgray;
    padding: 1em;
    border-radius: 0.3em;

}

.site-header,
.site-footer {
    flex: 1 1 100%
}

.site-main {
    flex: 1 0 65%;
}

.site-sidebar {
    flex: 1 0 25%
}

@media (min-width: 801px) {
    .site {
        flex-direction: row;
    }
}